<h2>Select Lead Status:</h2>

<div>

<%= form_tag("/notes/status", method: "get") do %>

<%= label_tag(:status, "Status: " ) %>

<br />

<%= @status_array.each do |choose| %>

<%= radio_button_tag(:status, choose) %><br />

<% end %>

</div>