<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Notice to weand.co, <%= @lead %></h1>
    <p>
      has submitted information to weand.co.
      One of our minions needs to reach out to them a.s.a.p! 
    </p>
   
  </body>
</html>