<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to weand.co, <%= @lead.email %></h1>
    <p>
      You have successfully submitted your information to weand.co.
      One of our minions will reach out to you a.s.a.p! 
    </p>
    
    <p>Thanks for reaching out and have a great day!</p>
  </body>
</html>